.tools_panel_container {
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0;
  width: min-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tools_panel {
  box-shadow: var(--shadow-popup);
  border-radius: 12px;
  background-color: var(--color-surface-panel);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tools_panel_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 2px;
}

.seperator {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  align-self: stretch;
}
