.scroll_container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

  
    .sections {
      position: relative;
      width: 100%;
      height: max-content;

      .progress_bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: red;
        transform-origin: 0%;
  
      }
    }

  
    .section_item {
        height: 400px;
       width: 100%;
       background-color: green;
    }
}



