.tabs_container {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;
  /* box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */


  grid-template-columns: [col-start] 0 1fr 0 [col-end];
  grid-template-rows: [row-start] 0  min-content 1fr 0px [row-end];
  grid-template-areas:
    ". . ."
    ". tab-header ."
    ". tab-main ."
    ". . .";



  .tab_header_container {
    grid-area: tab-header;
    width: 100%;
    background-color: transparent;
    padding: 5px 5px 0;
    border-radius: 10px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #eeeeee;

    display: grid;
    grid-template-columns: 1fr 35px;
    overflow: hidden;
  }

  .tab_headers_group {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  ul,
  li {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

  li {
    border-radius: 5px;

    width: 100%;
    padding: 10px 15px;
    position: relative;
    background: white;
    cursor: pointer;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    position: relative;
    user-select: none;

    span {
      flex-shrink: 1;
      flex-grow: 1;
      line-height: 18px;
      white-space: nowrap;
      display: block;
      min-width: 0;
      padding-right: 30px;
      mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
      -webkit-mask-image: linear-gradient(to left, transparent 20px, #fff 40px);
    }
  }



  .tabs_main {
    grid-area: tab-main;
    
  

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    user-select: none;
    /* padding: 20px; */
    overflow: hidden;
  }

  

    .close {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;
    }

    button {
      width: 20px;
      height: 20px;
      border: 0;
      background: transparent;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      stroke: #000;
      cursor: pointer;
      flex-shrink: 0;
    }
  

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: inherit;
  }

  .add_item {
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;

    border: 0;
    background: transparent;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    cursor: pointer;
    flex-shrink: 0;

    background-color: transparent;
    border: 0px solid transparent;

    &:disabled {
      opacity: 0.4;
      cursor: default;
      pointer-events: none;
    }
  }

}